<!DOCTYPE html>
<html>
	<head>
		<title>HackMereced 0x3Ft</title>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		{% include 'seo.html' %}
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
	</head>
	<body>
		<aside class='content-image' id='image_slider'></aside>
		<content class='toTheRight'>
			{% include 'header.html' %}
			{% block body %}{% endblock %}
		</content>

	</body>
</html>
