{% extends "layout.html" %}
{% block body %}
  <aside class='content-image'></aside>
  <content>
    <h1>HackMerced 0x3F</h1>
    <section>
      <article>
        <h4>About Us</h4>
        <p>
          HackMerced, is a 36 hour yearly programming competition that occurs in Merced, California with attendance of around 400 students from all over the world. This time, HackMerced will be in the Fall of 2017 at the Univeristy of California, Merced.
        </p>
      </article>
      <article>
        <h4>HackMerced Leadership Information</h4>
        <p>
          HackMerced is looking for a talented group of individuals who want to build the future of our event. Come to our info-session on March 21, 2017 at COB2 130 at UC Merced to learn more. Anyone can help lead our event, as long as you are enrolled in a four-year university.
        </p>
      </article>
    </section>
  </content>
{% endblock %}
