{% extends "layout.html" %}
{% block body %}
  <div class='information'>
    <h1>Work @ HackMerced</h1>
    <section>
      <article>
        <h4>We’re looking for people like you!</h4>
        <p>
          HackMerced is looking for a wide range of skilled engineers, designers, leaders, and creatives. This year, we created not just leadership roles, but also constructive and career-focused jobs for those with a strict schedule or the ambition to learn new skills.
        </p>
      </article>
      <article>
        <h4>HackMerced Leadership Information</h4>
        <h5>Filter Jobs</h5>
        <div id='filter-jobs'></div>
        <h5>Job Listings</h5>
        <div id='job-listing'></div>
      </article>
    </section>
  </div>
{% endblock %}
