$white: #F9F9F9;
$black: #1B1A23;
$purple: #46435A;
$grey: #A0A0A0;

$fonts: "Futura", "Century Gothic", "Arial", "sans-serif";

$default-font-size: 14px;
$default-line-height: 2;

$default-h1-size: 64px;
$default-h1-weight: 700;

$default-h4-size: 18px;
$default-h4-weight: 700;
